auto-save-list/*
image-dired/*thumb*
session.*
url/cookies
completions
image-dired/.image-dired_db
.org-id-locations
*~
history
elpa/*
thumbs/*
image-dired/.image-dired_temp
semanticdb
xkcd
recentf
projectile*
bookmarks
/ido.last
/secrets.el
/spu_log/
/eww-bookmarks
/eshell/
/url/
**/.svn/
**/gnowsys-mode/
/rvelseg-init.el
